My_workflow (3).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "fromEmail": "trungthanhcva2206@gmail.com",
        "toEmail": "={{ $json.body.email }}",
        "subject": "Thông báo cập nhật tình trạng sức khỏe trên Safe Zone ",
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      line-height: 1.6;\n      margin: 0;\n      padding: 0;\n      background-color: #f9f9f9;\n    }\n    .email-container {\n      max-width: 600px;\n      margin: 20px auto;\n      background-color: #ffffff;\n      border: 1px solid #ddd;\n      border-radius: 8px;\n      padding: 20px;\n      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);\n    }\n    .header {\n      background-color: #4caf50;\n      color: #ffffff;\n      padding: 10px;\n      text-align: center;\n      border-radius: 8px 8px 0 0;\n    }\n    .content {\n      padding: 20px;\n    }\n    .footer {\n      text-align: center;\n      color: #666;\n      font-size: 0.9em;\n      padding: 10px;\n    }\n    .status {\n      font-weight: bold;\n      color: #ff5722;\n    }\n    .vaccine-status {\n      font-weight: bold;\n      color: #2196f3;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"email-container\">\n    <div class=\"header\">\n      <h1>Safe Zone</h1>\n    </div>\n    <div class=\"content\">\n      <p>Chào <strong>{{ $json.body.name }}</strong>,</p>\n      <p>Hệ thống Safe Zone gửi đến bạn thông tin về tình trạng hiện tại của bạn:</p>\n      <ul>\n        <li><strong>Tình trạng sức khỏe:</strong> <span class=\"status\">{{ $json.body.health }}</span></li>\n        <li><strong>Tình trạng tiêm vaccine:</strong> <span class=\"vaccine-status\">{{ $json.body.vaccine }}</span></li>\n      </ul>\n      <p>Chúng tôi mong bạn tiếp tục thực hiện các biện pháp phòng dịch để bảo vệ sức khỏe của mình và cộng đồng.</p>\n    </div>\n    <div class=\"footer\">\n      <p>Trân trọng,</p>\n      <p>Đội ngũ Safe Zone</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "5dfb4958-4e2c-4501-ae14-63e263ea118d",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        980,
        160
      ],
      "credentials": {
        "smtp": {
          "id": "DDKOjfKsuf53YNtY",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8a04aa02-5e04-4c9f-ae33-b47d32b2242f",
        "options": {}
      },
      "id": "a170ada4-4d8f-49ae-a2f8-d6e76602335f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        780,
        160
      ],
      "webhookId": "8a04aa02-5e04-4c9f-ae33-b47d32b2242f"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aecb34ad-746d-4b5a-b2ad-52b10757bdba",
        "options": {}
      },
      "id": "acc67daa-31b5-46db-8111-f7b542f81d52",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        780,
        380
      ],
      "webhookId": "aecb34ad-746d-4b5a-b2ad-52b10757bdba"
    },
    {
      "parameters": {
        "fromEmail": "trungthanhcva2206@gmail.com",
        "toEmail": "={{ $json.body.email }}",
        "subject": "Có người vừa nhiễm bệnh mới trong khu vực của bạn ",
        "html": "<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      line-height: 1.6;\n      margin: 0;\n      padding: 0;\n      background-color: #f9f9f9;\n    }\n    .email-container {\n      max-width: 600px;\n      margin: 20px auto;\n      background-color: #ffffff;\n      border: 1px solid #ddd;\n      border-radius: 8px;\n      padding: 20px;\n      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);\n    }\n    .header {\n      background-color: #ff5722;\n      color: #ffffff;\n      padding: 10px;\n      text-align: center;\n      border-radius: 8px 8px 0 0;\n    }\n    .content {\n      padding: 20px;\n    }\n    .footer {\n      text-align: center;\n      color: #666;\n      font-size: 0.9em;\n      padding: 10px;\n    }\n    .highlight {\n      font-weight: bold;\n      color: #d32f2f;\n    }\n    .status {\n      font-weight: bold;\n      color: #4caf50;\n    }\n    .vaccine-status {\n      font-weight: bold;\n      color: #2196f3;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"email-container\">\n    <div class=\"header\">\n      <h1>Thông Báo Khẩn</h1>\n    </div>\n    <div class=\"content\">\n      <p>Chào bạn,</p>\n      <p>Hệ thống Safe Zone xin thông báo:</p>\n      <p><span class=\"highlight\">Khu vực của bạn vừa ghi nhận một ca nhiễm bệnh mới.</span> Xin vui lòng thực hiện các biện pháp phòng dịch và theo dõi sức khỏe của bạn.</p>\n      <p>Vui lòng luôn đeo khẩu trang, rửa tay thường xuyên, và hạn chế tụ tập đông người để bảo vệ bản thân và cộng đồng.</p>\n    </div>\n    <div class=\"footer\">\n      <p>Trân trọng,</p>\n      <p>Đội ngũ Safe Zone</p>\n    </div>\n  </div>\n</body>\n</html>\n",
        "options": {}
      },
      "id": "0484b3eb-e9aa-491e-953e-026b8cabc8e2",
      "name": "Send Email1",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1000,
        380
      ],
      "credentials": {
        "smtp": {
          "id": "DDKOjfKsuf53YNtY",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Send Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b807098c-e861-4a97-9583-6809495e54de",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "43d2ae87ffc3fbd818ed54a23030d81cce9e8e475e02bdb5227c40550866fbf9"
  },
  "id": "pZbeXXNTeQU8TqXD",
  "tags": []
}